html{
    background-color: black;
    }
        body{
            margin: auto auto auto auto;
            width: 95%;
            position: relative;	
            background-color: rgb(206, 202, 202);
            border-top: 2px solid black;
            border-left: 2px solid black;
            border-right: 2px solid black;
            border-bottom: 2px solid black;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
        
    }