@media only screen and (min-width: 769px) {

	html {
		background-color: black;
		background: linear-gradient(to left, rgb(245, 68, 221) 35%, rgb(29, 39, 87) 50%, rgb(39, 23, 185) 65%);
	}
	
	}
	
body{
	margin: auto auto auto auto;
	width: 95%;
	position: relative;	
	background-color: rgb(206, 202, 202);
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}

.polandinfo{
padding-right:200px;    
}

.poland{
float:left;
}